<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C499FE572B90287300CAC388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C499FE602B90287400CAC388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4A1D3D32B6FBAEA00F9C2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4A1D3DD2B6FBAEB00F9C2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4A1D4072B70270A00F9C2CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
